[client]
port             = 3306
socket           = /db1/myserver/mariadb/mysql.sock

[mysqld]
basedir          = /db1/myserver/mariadb
datadir          = /db1/myserver/mysql
port             = 3306
socket           = /db1/myserver/mariadb/mysql.sock
bind-address     = 127.0.0.1
pid-file         = /db1/myserver/mariadb/mariadb.pid
log-error        = /db1/myserver/mariadb/error.log
general_log      = 1
general_log_file = /db1/myserver/mariadb/logs/general.log
user             = harsh
